*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    text-align: center;
    color: #ffffff;
    padding: 1rem 0;
    background-image: linear-gradient(
        to right,
        rgb(43, 2, 2),
        rgb(15, 8, 80)
        );
}

.lead{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 1rem ;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none; 
justify-content: space-around;
}

nav ul li {
    border-radius: 5px;
    padding: .25rem .5rem;
}

nav ul li a{
    display: inline;
    color: #ffffff;
    text-decoration: none;
}

.contact {
background-color: #878585;
}

nav ul li a::after {
    content: '';
    width: 0%;
    left: 0;
    height: 2px;
    background: #ffffff;
    display: block;
    transition: 1s;
}

nav ul li a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    
    header{
        text-align: left;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .lead{
        font-size: 30px;
    }

    .nav-list{
        display: none;
    }
}

@media (max-width: 1200px) {
    
    header{
        text-align: left;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .lead{
        font-size: 30px;
    }

    .nav-list{
        display: none;
    }
}

